@font-face {
  font-family: "Thinfont";
  src: url("../fonts/DistProTh.otf");
}
html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #E8E8E6;
  background-attachment: fixed;
  color: #AEAEAE;
  font-family: Thinfont, Helvetica, sans-serif;
}

ul, li, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h1 {
  padding: 10px;
}

article {
  padding: 0;
  margin: 0;
  position: relative;
}

nav {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
nav a {
  display: block;
  padding: 10px;
  color: #AEAEAE;
  font-size: 19px;
}
nav a.selected {
  color: #44B0FF;
}
nav a:hover {
  color: #DFDFDF;
}

.mounting {
  opacity: 0.01;
  height: 0;
}

.sensitive {
  transition: all 0.2s ease-in;
}

.red .sensitive {
  color: red;
}

.page-container {
  background: #4E4E4E;
  height: 100%;
}
.page-container .page.leftslided .infopanel {
  opacity: 1;
}
.page-container .page.leftslided .contentpanel {
  left: 70%;
}
.page-container .page.rightslided .socialpanel {
  opacity: 1;
}
.page-container .page.rightslided .contentpanel {
  left: -70%;
}
.page-container .page {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.page-container .page .infopanel {
  min-height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.page-container .page .infopanel .userpanel {
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}
.page-container .page .infopanel .userpanel .name {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 22px;
}
.page-container .page .infopanel .userpanel .profile-picture {
  border-radius: 300px;
  display: block;
  height: 80px;
  width: 80px;
  border: solid 10px rgba(255, 255, 255, 0.26);
  margin: 10px auto;
}
.page-container .page .infopanel .userpanel .badges {
  display: block;
  color: transparent;
}
.page-container .page .infopanel .userpanel .infos {
  display: block;
  height: 75px;
}
.page-container .page .infopanel .userpanel .infos .traveltime, .page-container .page .infopanel .userpanel .infos .traveldistance {
  display: block;
  padding: 10px;
}
.page-container .page .infopanel .userpanel .infos .traveltime .label, .page-container .page .infopanel .userpanel .infos .traveldistance .label {
  opacity: 0.5;
  display: block;
  line-height: 22px;
  margin-top: 6px;
  float: left;
}
.page-container .page .infopanel .userpanel .infos .traveltime .value, .page-container .page .infopanel .userpanel .infos .traveldistance .value {
  font-size: 22px;
  color: #8FBC2D;
  float: right;
}
.page-container .page .infopanel .menupanel {
  width: 100%;
}
.page-container .page .infopanel .menupanel li {
  padding: 10px;
}
.page-container .page .contentpanel.slidedRight {
  left: -70%;
}
.page-container .page .contentpanel {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #F8F8F8;
  background-attachment: fixed;
  background-repeat: repeat;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  z-index: 55;
}
.page-container .page .contentpanel .overviewpanel {
  height: 190px;
  background: #372A6B;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
  position: relative;
  font-size: 16px;
  background: url(http://www.wallpaperup.com/uploads/wallpapers/2012/10/14/19261/big_thumb_cacb13ea4246ee699a7c926f83a9ce0c.jpg);
  background-clip: inherit;
  background-size: initial;
  background-position-x: 500px;
  background-position-y: 230px;
}
.page-container .page .contentpanel .overviewpanel .pages {
  display: block;
}
.page-container .page .contentpanel .overviewpanel .pages .page {
  display: block;
}
.page-container .page .contentpanel .overviewpanel .pages .buttons {
  position: absolute;
  z-index: 33;
}
.page-container .page .contentpanel .overviewpanel .pages .buttons a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.page-container .page .contentpanel .overviewpanel .pages .location {
  display: block;
}
.page-container .page .contentpanel .overviewpanel .pages .location .label {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 22px;
  padding-bottom: 15px;
}
.page-container .page .contentpanel .overviewpanel .pages .location .label .line {
  display: block;
}
.page-container .page .contentpanel .overviewpanel .pages .location .label .line .place {
  color: white;
  text-decoration: none;
}
.page-container .page .contentpanel .overviewpanel .pages .location .label .line .host {
  color: white;
  text-decoration: none;
}
.page-container .page .contentpanel .overviewpanel .pages .location .time {
  display: block;
  text-align: center;
  font-size: 35px;
  margin-right: 60px;
}
.page-container .page .contentpanel .overviewpanel .pages .location .weather {
  display: block;
  position: relative;
  text-align: center;
}
.page-container .page .contentpanel .overviewpanel .pages .location .weather .temperature {
  display: block;
  text-align: center;
  font-size: 35px;
  margin-right: 60px;
}
.page-container .page .contentpanel .overviewpanel .pages .location .weather .temperature .value {
  color: white;
}
.page-container .page .contentpanel .overviewpanel .pages .location .weather .temperature .unit {
  color: rgba(255, 255, 255, 0.5);
}
.page-container .page .contentpanel .overviewpanel .pages .location .weather i {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: -23px;
  margin-left: 20px;
  font-size: 50px;
}
.page-container .page .contentpanel .overviewpanel .pages .location .exchange {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 17px;
  font-size: 22px;
  margin-bottom: 15px;
}
.page-container .page .contentpanel .overviewpanel .pages .location .exchange .rate {
  display: inline;
}
.page-container .page .contentpanel .overviewpanel .pages .location .exchange .rate .value {
  color: white;
}
.page-container .page .contentpanel .overviewpanel .pages .location .exchange .rate .currency {
  color: rgba(255, 255, 255, 0.5);
}
.page-container .page .contentpanel .overviewpanel .pages .user {
  display: none;
  color: rgba(255, 255, 255, 0.98);
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  font-size: 22px;
}
.page-container .page .contentpanel .overviewpanel .pages .user .name {
  display: block;
}
.page-container .page .contentpanel .card {
  border: 1px solid rgba(0, 0, 0, 0.07);
  display: block;
  height: 80px;
  margin: 4px;
  padding-left: 68px;
  background: white;
  color: black;
  font-size: 16px;
  position: relative;
  border-radius: 2px;
  text-decoration: none;
}
.page-container .page .contentpanel .card .icon {
  background: #FBFBFB;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 3px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.45);
}
.page-container .page .contentpanel .card .content {
  display: block;
  line-height: 20px;
}
.page-container .page .contentpanel .card .content .intro {
  margin: 0 15px;
  display: block;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}
.page-container .page .contentpanel .card .content .title {
  margin: 0 15px;
  display: block;
  color: #454545;
  font-size: 20px;
  line-height: 24px;
}
.page-container .page .contentpanel .card .content .date {
  margin: 0 15px;
  display: block;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 4px;
}
.page-container .page .contentpanel .card .content .details {
  margin: 0 15px;
  display: block;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 4px;
}
.page-container .page .contentpanel .card:active {
  background: rgba(152, 213, 49, 0.2);
}
.page-container .page .contentpanel .card.alert {
  background: #DE5555;
}
.page-container .page .contentpanel .card.alert .title {
  color: white;
}
.page-container .page .socialpanel {
  opacity: 0;
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  left: 30%;
  background: #9b197d;
  z-index: 10;
}
