@font-face {
  font-family: "Thinfont";
  src: url("../fonts/DistProTh.otf");
}
html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #E8E8E6;
  background-attachment: fixed;
  color: #AEAEAE;
  font-family: Thinfont, Helvetica, sans-serif;
}

ul, li, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h1 {
  padding: 10px;
}

article {
  padding: 0;
  margin: 0;
  position: relative;
}

nav {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
nav a {
  display: block;
  padding: 10px;
  color: #AEAEAE;
  font-size: 19px;
}
nav a.selected {
  color: #44B0FF;
}
nav a:hover {
  color: #DFDFDF;
}

.mounting {
  opacity: 0.01;
  height: 0;
}

.sensitive {
  transition: all 0.2s ease-in;
}

.red .sensitive {
  color: red;
}

.page {
  position: relative;
  height: 100%;
}
.page .infopanel {
  display: none;
  height: 100%;
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
}
.page .infopanel .userpanel {
  width: 100%;
  position: relative;
  background: rgba(120, 120, 120, 0.2);
  height: 0;
  padding-bottom: 66%;
}
.page .contentpanel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: #E8E8E6;
  background-attachment: fixed;
  background-repeat: repeat;
}
.page .contentpanel .card {
  margin: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
}
.page .contentpanel .card header .img {
  height: 170px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.page .contentpanel .card section {
  padding: 5px;
  background: #FFFFFF;
  color: #454545;
  min-height: 80px;
}
.page .contentpanel .card section .date {
  position: absolute;
  margin: 10px;
  margin-top: -110px;
  text-align: center;
  border-radius: 3px;
  border: solid 1px rgba(162, 162, 162, 0.2);
  color: #565656;
}
.page .contentpanel .card section .date .day {
  display: block;
  font-size: 33px;
  background: white;
  width: 50px;
  padding: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
}
.page .contentpanel .card section .date .month {
  display: block;
  font-size: 16px;
  background: #2D2D2D;
  color: #FFFFFF;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 50px;
  padding: 5px;
}
.page .contentpanel .card section .location, .page .contentpanel .card section .duration {
  padding: 10px;
  display: block;
}
.page .contentpanel .card footer {
  position: relative;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #F9F9F9;
  first-child-border-bottom-left-radius: 3px;
  last-child-border: none;
  last-child-border-bottom-right-radius: 3px;
}
.page .contentpanel .card footer button {
  width: 33.333%;
  padding: 10px;
  border: none;
  color: #888888;
  background: none;
}
.page .socialpanel {
  display: none;
  height: 100%;
  width: 75%;
  position: absolute;
  top: 0;
  background: #9b197d;
}
