@font-face {
  font-family: "Thinfont";
  src: url("../fonts/DistProTh.otf");
}
html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #E8E8E6;
  background-attachment: fixed;
  color: #AEAEAE;
  font-family: Thinfont, Helvetica, sans-serif;
}

ul, li, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h1 {
  padding: 10px;
}

article {
  padding: 0;
  margin: 0;
  position: relative;
}

nav {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
nav a {
  display: block;
  padding: 10px;
  color: #AEAEAE;
  font-size: 19px;
}
nav a.selected {
  color: #44B0FF;
}
nav a:hover {
  color: #DFDFDF;
}

.mounting {
  opacity: 0.01;
  height: 0;
}

.sensitive {
  transition: all 0.2s ease-in;
}

.red .sensitive {
  color: red;
}

.page {
  position: relative;
  height: 100%;
}
.page .infopanel {
  display: none;
  height: 100%;
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
}
.page .infopanel .userpanel {
  width: 100%;
  position: relative;
  background: rgba(120, 120, 120, 0.2);
  height: 0;
  padding-bottom: 66%;
}
.page .contentpanel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: #E8E8E6;
  background-attachment: fixed;
  background-repeat: repeat;
}
.page .contentpanel .overviewpanel {
  height: 230px;
  background: coral;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
}
.page .contentpanel .card {
  border: 1px solid rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  margin: 10px;
  padding-left: 90px;
  background: white;
  color: black;
  font-size: 16px;
}
.page .contentpanel .card .title {
  margin: 0 15px;
  display: block;
  color: #454545;
}
.page .contentpanel .card .title em {
  opacity: 0.8;
  font-style: normal;
  border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}
.page .contentpanel .card .date {
  margin: 0 15px;
  display: block;
}
.page .contentpanel .card.alert {
  background: #DE5555;
}
.page .contentpanel .card.alert .title {
  color: white;
}
.page .socialpanel {
  display: none;
  height: 100%;
  width: 75%;
  position: absolute;
  top: 0;
  background: #9b197d;
}
