@font-face
    font-family: "Thinfont"
    src: url('../fonts/DistProTh.otf')

$main-font: Thinfont, Helvetica, sans-serif

$main-bg: url('../img/bg2.jpg')
$main-color: #AEAEAE
$main-color-hover: #DFDFDF
$main-color-selected: #44B0FF

$widget-bg: rgba(250, 250, 250, 1)
$scenario-bg: rgba(0, 0, 0, 0.5)

$widget-color: #343434
$widget-width: 255px

html
    height: 100%
    width: 100%

body
    padding: 0
    margin: 0
    height: 100%
    width: 100%
    background-color: #3E3E3E
    // background: $main-bg
    background-attachment: fixed
    // background-position: center
    color: $main-color
    font:
        family: $main-font

ul, li, ol
    padding: 0
    margin: 0

h1, h2, h3, h4, h5
    font-weight: normal
    margin: 0

h1
    padding: 10px

article
    padding: 0
    margin: 0
    position: relative

nav
    display: inline-block
    position: fixed
    top: 0
    left: 0
    height: 100%
    background: rgba(0, 0, 0, 0.5)

    a
        display: block
        padding: 10px
        color: $main-color
        font-size: 19px

    a.selected
        color: $main-color-selected

    a:hover
        color: $main-color-hover

.mounting
    opacity: 0.01
    height: 0

.sensitive
    transition: all .2s ease-in

.red .sensitive
    color: red

.page
    position: relative
    height: 100%
    // width: 300px

    .infopanel
        display: none
        height: 100%
        width: 75%
        position: absolute
        top: 0
        left: 0

        .userpanel
            width: 100%
            position: relative
            background: rgba(120, 120, 120, 0.2)
            height: 0
            padding-bottom: 66%
    
    .contentpanel
        height: 100%
        width: 100%
        position: absolute
        top: 0
        // left: 75%
        background: url('../img/bg3.jpg')
        background-attachment: fixed
        background-repeat: repeat
        
        .card
            margin: 20px

            header
            
                .img
                    height: 130px
                    display: block
                    // background: rgba(0, 0, 0, 0.2)
                    background-size: cover
                    background-position: center
                    background-repeat: no-repeat
                    border-top-left-radius: 3px
                    border-top-right-radius: 3px
                 
            section
                padding: 5px
                background: #FFFFFF
                color: #454545
                min-height: 80px

                .date
                    position: absolute
                    margin: 10px
                    margin-top: -110px
                    text-align: center
                    border-radius: 3px
                    border: solid 1px rgba(162, 162, 162, 0.2)
                    color: #565656
    
                    .day
                        display: block
                        font-size: 33px
                        background: white
                        width: 50px
                        padding: 5px
                        border-top-left-radius: 3px
                        border-top-right-radius: 3px
                        font-weight: bold
                    
                    .month
                        display: block
                        font-size: 16px
                        background: #2D2D2D
                        color: #FFFFFF
                        border-bottom-left-radius: 3px
                        border-bottom-right-radius: 3px
                        width: 50px
                        padding: 5px
            
                .location, .duration
                    padding: 10px
            
            footer
                position: relative
                border-top: solid 1px rgba(0, 0, 0, 0.1)
                background: #EFEFEF
                border-bottom-left-radius: 3px
                border-bottom-right-radius: 3px
                
                button
                    width: 33.333%
                    padding: 10px
                    border: none
                    color: #888888

                :first-child
                    border-bottom-left-radius: 3px

                :last-child
                    border: none
                    border-bottom-right-radius: 3px
            

    .socialpanel
        display: none
        height: 100%
        width: 75%
        position: absolute
        top: 0
        // left: 175%
        background: rgba(155, 25, 125, 1)
        
        