<!doctype html>
<html>
    <head>
    	<title>eLa Dashboard</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/weather-icons.css') }}">
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/react-select.css') }}">
    </head>
    <body>
        <div class="page dashboard" id="app-content"></div>
    </body>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>